.edit-profile
  .gravatar-wrapper
    = image_tag current_user.avatar_url
    a#change-picture href='' Change picture
  = simple_form_for current_user, html: { id: 'update-avatar' } do |f|
    = f.input :avatar, label: false
