table
  thead
    tr
      th Nickname
      th Email
      th Posts
      th Comments

  tbody
    - @report.each do |report|
      tr
        td = report["nickname"]
        td = report["email"]
        td = report["posts_count"]
        td = report["comments_count"]
