// dropdown
.dropdown {
  margin: 8px 15px 8px 0;

  img {
    width: 34px;
    height: 34px;
    border-radius: 4px;
    cursor: pointer;
  }
}

// User edit page
.edit-profile {
  padding-top: 25px;
}

.gravatar-wrapper img {
  border-radius: 4px;
  width: 164px;
  height: 164px;
}

#change-picture {
  position: absolute;
  font-size: 13px;
  border-radius: 0 0 4px 4px;
  top: 232px;
  left: 113px;
  right: 40px;
  padding: 5px 0;
  width: 164px;
  text-decoration: none;
  text-align: center;
  background: rgba(0,0,0,0.6);
  color: white;
  cursor: pointer;
  -webkit-transition: background, 0.3s, ease;
  -moz-transition: background, 0.3s, ease;
  -ms-transition: background, 0.3s, ease;
  -o-transition: background, 0.3s, ease;
}

#change-picture:hover {
  background: rgba(0,0,0,0.8);
}

#user_avatar {
  display: none;
}
