nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button"
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand href=root_path Blog
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          .dropdown
            = image_tag current_user.avatar.small.url, class: 'dropdown-toggle hidden-xs', data: { toggle: 'dropdown' }
            ul.dropdown-menu
              li = link_to 'Edit profile', edit_user_path(current_user)
              li.divider role="separator"
              li = link_to 'Sign out', destroy_user_session_path, method: :delete
        - else
          li = link_to 'Sign in', new_user_session_path
          li = link_to 'Sign up', new_user_registration_path
